<%= form_for ([@schedule, @schedule.comments.build]) do |f| %>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%=f.label :body %>
	<%= f.text_area :body %><br>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>